.slick-slide {
  text-align: center !important;
}

.slick-slide::before {
  content: '' !important;
  display: inline-block !important;
  height: 100% !important;
  vertical-align: middle !important;
}

.slick-slide img {
  vertical-align: middle !important;
  display: inline-block !important;
}

.slick-next, .slick-prev {
  background: black !important;
  color: white;
}

.slick-prev, .slick-next {

  height: 20px !important;
  width: 20px !important;
  line-height: 0;

  background: white !important;

  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  border-radius: 180px;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px !important;
  line-height: 1.3 !important;
  color: black !important;
  opacity: 1 !important;
}

.slick-next {
  right: 0 !important;
}

.slick-prev {
  left: -5px !important;
}

.add-side-img {
  width: 100%;
  margin-bottom: 20px;
}

.add-header-img {
  height: 50vh;
  width: 100%;
}

.collection-images {
  height: 20vh;
  max-width: 100%;
  width: 30vh;
}

#triangle-bottomleft {

  width: 40%;
  height: 0;
  border-bottom: 50px solid #bc3726;
  border-right: 40px solid transparent;
}

.contact-ul {
  ul {
    li {
      list-style: none !important;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
}
