.form-group {
  margin-bottom: 0 !important;

}

.newletter {

  .form-group {
    padding-bottom: 30px;

  }
  label {
    color: #b6b6b6;
    line-height: 2;

  }
  input {
    background-color: #b6b6b6;
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 30px;
  }
  button {
    float: right;
    border: none;
    height: 30px;
    width: 60%;
    background-color: #b6b6b6;
    color: #7d7d7d;
    margin-bottom: 20px;
  }
}

.contact {
  input {
    height: 40px;
  }
  textarea {
    resize: none;
    height: 220px;
  }
  input, textarea {
    background-color: #ebebeb;
    border: none;
    border-radius: 0px;
    width: 100%;
    margin-bottom: 30px;
  }
  button {
    float: right;
    color: black;
    font-weight: bold;
    border: none;
    height: 50px;
    width: 60%;
    background-color: #ebebeb;
    margin-bottom: 20px;
  }
}