.header-nav {
  height: 50px;
  overflow-y: visible;

  .navbar-right {
    margin-right: 20px !important;
  }

  .menu {
    background-color: #2d2d2d !important;
    width: 100%;
    .menu-text {
      color: #999999;
    }
    a {
      color: #414141;
      text-decoration: none; /* no underline */
    }

  }

  .category {

    font-size: 22px;
    background-color: #c3c3c3 !important;
    width: 100%;

    a {
      color: white !important;
      z-index: +100;
    }
    a:hover {
      transition: 1s;
      background-color: black !important;

    }
    .category-text {
      border-right: #b4b4b4 1px solid;

    }
    .nav-form {
      .input-search {
        border-radius: 50px 0 0 50px;
        margin-right: -10px;
        height: 30px !important;
        padding: 5px 12px;
        width: 140px;
        background-color: #4a4a4a;
        border-color: #4a4a4a;
      }
      .search {
        background-color: #ea6a53;
        border-color: #ea6a53;
        color: white;
        height: 30px;
        border-radius: 0 180px 180px 0;
      }
    }
    input {
      border-radius: 50px;
      height: 30px !important;
      padding: 5px 12px;
      width: 140px;
      background-color: #4a4a4a;
      border-color: #4a4a4a;
    }
    .login-button {
      background-color: #ea6a53;
      border-color: #ea6a53;
      color: white;
      border-radius: 180px;
    }
    .logout-btn {
      background-color: #ea6a53;
      border-color: #ea6a53;
      color: white;
      border-radius: 180px;

    }
  }
}

//Footer
footer {
  background-color: #2d2d2d;
  height: 25vh;
  .nav > li > a {
    padding: 5px 5px;
  }
  p {
    margin: 0 !important;
    color: #878787;
    font-size: 10px;
    padding-left: 5px;
  }

}

a {
  color: #878787 !important;

}

.footer-menu {
  margin-top: 20px;
  font-size: 10px;
  li {
    border-right: 1px solid #878787 !important;
  }
  li:last-child {
    border-right: none;
  }
  .footer-text {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

  }
}

