//events

.shop-subpage {

  .shop-image {
  }

  .redbox-font {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin: 0 !important;
    background-color: #f1715e;
    height: 50px;
    padding: 10px;
  }

  .redbox-desc {
    text-align: center;
    height: 50px;
    color: white;
    padding: 5px;
    font-size: 15px;
    margin: 0 !important;
    background-color: #31b0d5;
  }
  .redbox-date {
    color: #668333;
    margin: 0 !important;

  }

  .redbox-height {

  }
}

.product {
  border: 1px solid #dddddd;
  height: 321px;
}

.product > img {
  max-width: 350px;
  height: 320px;
  width: 350px;
}

.product-rating {
  font-size: 20px;
  margin-bottom: 25px;
}

.product-title {
  font-size: 20px;
}

.product-desc {
  font-size: 14px;
}

.product-price {
  font-size: 22px;
}

.product-stock {
  color: #74DF00;
  font-size: 20px;
  margin-top: 10px;
}

.product-info {
  margin-top: 50px;
}

/*********************************************
                    VIEW
*********************************************/

.content-wrapper {
  max-width: 1140px;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 0px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}

/*********************************************
                ITEM
*********************************************/

.service1-items {
  padding: 0px 0 0px 0;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 321px;
  width: 130px;
}

.service1-item {
  height: 107px;
  width: 120px;
  display: block;
  float: left;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.service1-item > img {
  max-height: 110px;
  max-width: 110px;
  opacity: 0.6;
  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
  cursor: pointer;
  opacity: 1;
}

.service-image-left {
  padding-right: 50px;
}

.service-image-right {
  padding-left: 50px;
}

.service-image-left > center > img, .service-image-right > center > img {
  max-height: 155px;
}

