@charset "UTF-8";
.header-nav {
  height: 50px;
  overflow-y: visible; }
  .header-nav .navbar-right {
    margin-right: 20px !important; }
  .header-nav .menu {
    background-color: #2d2d2d !important;
    width: 100%; }
    .header-nav .menu .menu-text {
      color: #999999; }
    .header-nav .menu a {
      color: #414141;
      text-decoration: none;
      /* no underline */ }
  .header-nav .category {
    font-size: 22px;
    background-color: #c3c3c3 !important;
    width: 100%; }
    .header-nav .category a {
      color: white !important;
      z-index: +100; }
    .header-nav .category a:hover {
      transition: 1s;
      background-color: black !important; }
    .header-nav .category .category-text {
      border-right: #b4b4b4 1px solid; }
    .header-nav .category .nav-form .input-search {
      border-radius: 50px 0 0 50px;
      margin-right: -10px;
      height: 30px !important;
      padding: 5px 12px;
      width: 140px;
      background-color: #4a4a4a;
      border-color: #4a4a4a; }
    .header-nav .category .nav-form .search {
      background-color: #ea6a53;
      border-color: #ea6a53;
      color: white;
      height: 30px;
      border-radius: 0 180px 180px 0; }
    .header-nav .category input {
      border-radius: 50px;
      height: 30px !important;
      padding: 5px 12px;
      width: 140px;
      background-color: #4a4a4a;
      border-color: #4a4a4a; }
    .header-nav .category .login-button {
      background-color: #ea6a53;
      border-color: #ea6a53;
      color: white;
      border-radius: 180px; }
    .header-nav .category .logout-btn {
      background-color: #ea6a53;
      border-color: #ea6a53;
      color: white;
      border-radius: 180px; }

footer {
  background-color: #2d2d2d;
  height: 25vh; }
  footer .nav > li > a {
    padding: 5px 5px; }
  footer p {
    margin: 0 !important;
    color: #878787;
    font-size: 10px;
    padding-left: 5px; }

a {
  color: #878787 !important; }

.footer-menu {
  margin-top: 20px;
  font-size: 10px; }
  .footer-menu li {
    border-right: 1px solid #878787 !important; }
  .footer-menu li:last-child {
    border-right: none; }
  .footer-menu .footer-text {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

.slick-slide {
  text-align: center !important; }

.slick-slide::before {
  content: '' !important;
  display: inline-block !important;
  height: 100% !important;
  vertical-align: middle !important; }

.slick-slide img {
  vertical-align: middle !important;
  display: inline-block !important; }

.slick-next, .slick-prev {
  background: black !important;
  color: white; }

.slick-prev, .slick-next {
  height: 20px !important;
  width: 20px !important;
  line-height: 0;
  background: white !important;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  border-radius: 180px; }

.slick-prev:before, .slick-next:before {
  font-size: 30px !important;
  line-height: 1.3 !important;
  color: black !important;
  opacity: 1 !important; }

.slick-next {
  right: 0 !important; }

.slick-prev {
  left: -5px !important; }

.add-side-img {
  width: 100%;
  margin-bottom: 20px; }

.add-header-img {
  height: 50vh;
  width: 100%; }

.collection-images {
  height: 20vh;
  max-width: 100%;
  width: 30vh; }

#triangle-bottomleft {
  width: 40%;
  height: 0;
  border-bottom: 50px solid #bc3726;
  border-right: 40px solid transparent; }

.contact-ul ul li {
  list-style: none !important;
  font-size: 15px;
  text-transform: uppercase; }

.shop-subpage .redbox-font {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  margin: 0 !important;
  background-color: #f1715e;
  height: 50px;
  padding: 10px; }
.shop-subpage .redbox-desc {
  text-align: center;
  height: 50px;
  color: white;
  padding: 5px;
  font-size: 15px;
  margin: 0 !important;
  background-color: #31b0d5; }
.shop-subpage .redbox-date {
  color: #668333;
  margin: 0 !important; }

.product {
  border: 1px solid #dddddd;
  height: 321px; }

.product > img {
  max-width: 350px;
  height: 320px;
  width: 350px; }

.product-rating {
  font-size: 20px;
  margin-bottom: 25px; }

.product-title {
  font-size: 20px; }

.product-desc {
  font-size: 14px; }

.product-price {
  font-size: 22px; }

.product-stock {
  color: #74DF00;
  font-size: 20px;
  margin-top: 10px; }

.product-info {
  margin-top: 50px; }

/*********************************************
                    VIEW
*********************************************/
.content-wrapper {
  max-width: 1140px;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 0px; }

.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%; }

/*********************************************
                ITEM
*********************************************/
.service1-items {
  padding: 0px 0 0px 0;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 321px;
  width: 130px; }

.service1-item {
  height: 107px;
  width: 120px;
  display: block;
  float: left;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD; }

.service1-item > img {
  max-height: 110px;
  max-width: 110px;
  opacity: 0.6;
  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }

.service1-item > img:hover {
  cursor: pointer;
  opacity: 1; }

.service-image-left {
  padding-right: 50px; }

.service-image-right {
  padding-left: 50px; }

.service-image-left > center > img, .service-image-right > center > img {
  max-height: 155px; }

.form-group {
  margin-bottom: 0 !important; }

.newletter .form-group {
  padding-bottom: 30px; }
.newletter label {
  color: #b6b6b6;
  line-height: 2; }
.newletter input {
  background-color: #b6b6b6;
  border: none;
  border-radius: 0px;
  width: 100%;
  height: 30px; }
.newletter button {
  float: right;
  border: none;
  height: 30px;
  width: 60%;
  background-color: #b6b6b6;
  color: #7d7d7d;
  margin-bottom: 20px; }

.contact input {
  height: 40px; }
.contact textarea {
  resize: none;
  height: 220px; }
.contact input, .contact textarea {
  background-color: #ebebeb;
  border: none;
  border-radius: 0px;
  width: 100%;
  margin-bottom: 30px; }
.contact button {
  float: right;
  color: black;
  font-weight: bold;
  border: none;
  height: 50px;
  width: 60%;
  background-color: #ebebeb;
  margin-bottom: 20px; }

.today {
  background-color: pink !important; }

.dimmed {
  background-color: rgba(128, 128, 128, 0.42) !important; }

.weekend {
  background-color: rgba(0, 180, 136, 0.25); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*# sourceMappingURL=Main.css.map */
